*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: black;
}

.cryptos {
    display: grid;
    margin-top: 5rem;
    justify-content: center;
}

.card {
    
}

.title {
    grid-column: 1/-1;
}


.currency {
    grid-column: 1/-1;
}

.language {
    grid-column: 1/-1;
}